version: "3.7"

services:
  datasource-application:
    image: python:3.6-stretch
    container_name: analytics-datasource-application
    volumes:
      - .:/opt/data-analytics
    command: >
      bash -c "pip install -r /opt/data-analytics/requirements.txt;
               python /opt/data-analytics/app.py;
               "
    ports:
      - 5000:5000
    env_file:
      - env_file
    depends_on:
      - datasource-postgres

  install-models:
    image: python:3.6-stretch
    container_name: pcm-install-models
    volumes:
      - .:/opt/enriched_data
    command: >
      bash -c "cd /opt;
               git clone https://github.com/betagouv/pass-culture-api.git;
               cd pass-culture-api;
               sh ./prepare-database.sh;
               "
    env_file:
      - env_file
    depends_on:
      - datasource-postgres

  datasource-postgres:
    image: circleci/postgres:11.6-postgis
    container_name: analytics-datasource-postgres
    env_file:
      - env_file
    ports:
      - 5435:5432
    command: postgres -c logging_collector=on -c log_destination=stderr -c log_min_duration_statement=0 -c log_statement=all -c log_duration=on
